@font-face {
	font-family: 'Roboto';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
